[2017-01-22 20:23] mcg1969 opened #3 "A new accelerated, parallel, proximal descent method"
Probably not the most orthodox thing to put in a GitHub issue, but it seems like it could be helpful for this project.

In the latest SIAM Review a paper by Fercoq and Richtárik appears: [Optimization in High Dimensions vis Accelerated, Parallel, Coordinate Descent](http://epubs.siam.org/doi/abs/10.1137/16M1085905). I've got a paper copy, and I know the second author, and can certainly get an elec

[2017-01-22 20:41] mrocklin commented on #3
This seems like a great thing to put in a github issue to me :)

I'll be playing a bit more with dask performance early this week, mostly around the current implementations in @moody-marlin 's no_api branch (which seems to have the most recent development).  I suspect that those optimizations will apply to any such solution though.

cc @hussainsultan @moody-marlin

[2017-01-22 20:51] mcg1969 commented on #3
Oh, actually, it looks like they've paid to make the PDF's free! Here you go:

- [SIAM Review article](http://epubs.siam.org/doi/pdf/10.1137/16M1085905)
- [SIAM J. Optim. article](http://epubs.siam.org/doi/pdf/10.1137/130949993)

[2017-01-22 20:54] mrocklin commented on #3
cc @jcrist

[2017-01-23 13:56] mrocklin opened #4 "Merge forks/branches"
People have submitted PRs to three forks/branches recently:

1.  dask/master
2.  moody-marlin/master
3.  moody-marlin/no_api

It would be good to merge these all to some fork/branch quickly so that we don't need to go through expensive merging later on.  I don't particulaly care which fork/branch, but I would prefer to see things drive towards a common point.  It becomes expensive to merge if thin

[2017-01-23 16:22] moody-marlin commented on #3
Interesting work; however, they are mainly focused on the situation with a "huge" number of features.  I think in the GLM space it is uncommon to use more than, say, 300 features at a time, which makes me more inclined to focus on algorithms like [ADMM](http://stanford.edu/~boyd/papers/pdf/admm_distr_stats.pdf) / SGD that can distribute across training examples / groups and not across features.

[2017-01-23 19:58] hussainsultan commented on #4
Thanks for the callout. I am working with @moody-marlin to consolidate all the previous work and make a PR to dask-glm repo. Going forward, `dask/dask-glm` should be the only repo that we work with instead of working with forks directly. Thoughts?

[2017-01-23 20:09] mrocklin commented on #4
I'm personally fine with anything, as long as code doesn't linger too long
in other forks/branches.  I personally tend to develop within my own fork
and then merge within a few days.

On Mon, Jan 23, 2017 at 2:58 PM, Hussain Sultan <notifications@github.com>
wrote:

[2017-01-26 14:05] mrocklin opened #5 "Asynchronous solvers"
So far all of our solvers are synchronous.  They compute full results in lock-step, for example switching between performing a parallel mat-vec, then doing a line search, and then doing a mat-vec again.  These algorithms are common on single-machine hardware but may not be ideal for larger clusters.

The distributed scheduler provides some decent capabilities for full asynchronous computing, which

[2017-01-26 14:31] mrocklin commented on #5
In particular I was reading this paper on asynchronous sgd: https://static.googleusercontent.com/media/research.google.com/en//archive/large_deep_networks_nips2012.pdf

It's obviously focused on deep learning applications, but thought that some of the ideas may carry over here as well.  I'm unsure.

[2017-01-26 14:36] mrocklin commented on #5
To motivate this thinking, I'm trying to eliminate the white space in profiles like the following:

![](https://cloud.githubusercontent.com/assets/306380/22206338/d5eee21e-e148-11e6-975a-a0e6e39626fd.png)

[2017-01-26 14:53] hussainsultan commented on #5
this is asynchronous variant of ADMM: http://jmlr.org/proceedings/papers/v32/zhange14.pdf However, i am not sure if we need it  since the global updates are the fastest (unlike line search step above).

[2017-01-26 14:57] mrocklin commented on #5
We may still run into straggler issues where we have to wait for a few workers to finish the last pieces of data before we can synchronize updates and broadcast them out to start work everywhere again.

However, it's not clear that this will be a performance issue in practice.

[2017-01-26 15:14] #4 closed

[2017-01-26 15:16] mcg1969 commented on #5
I would like to push back against this as a significant distraction from the core focus of this effort. We should not be moving towards a tradeoff between accuracy and speed at this point, which is exactly what a move to asynchronous approaches represent.

Besides: I'm not convinced yet that the white space above is due to fundamental limits in the algorithms. I'm waiting on some example notebooks

[2017-01-26 15:32] mrocklin commented on #5
I agree that the whitespace above can probably be resolved through other methods.  My main goal in this issue is to establish that this is a tool in our toolbox, should it become valuable.  I'm fine waiting to think about this idea until synchronization costs become a performance issue.

[2017-01-26 15:36] hussainsultan opened #6 "Add conda environment.yml"
@moody-marlin pointed out that we need to add an environment.yml file for ease of use with conda.

[2017-01-26 15:39] hussainsultan commented on #6
@mrocklin  do you know if a single `environment.yml` file could work for both python2 and 3? I am reading up the docs and couldn't find this on first pass.

[2017-01-26 15:40] mrocklin commented on #6
I have to admit that I never use conda environment.yml files

On Thu, Jan 26, 2017 at 10:39 AM, Hussain Sultan <notifications@github.com>
wrote:

[2017-01-26 15:54] cicdw opened #7 "Logistic Accuracy tests"
We need to determine a robust testing framework for our logistic regression algorithms, starting with a review of the accuracy of the current ADMM code.

**Unregularized Problems**
- For unregularized problems with an intercept, we can start with the high-level test
```y.sum() = sigmoid(X.dot(beta)).sum()```
- For unregularized problems without an intercept, we can create a handful of tiny dataset

[2017-01-26 16:25] moody-marlin opened #8 "ADMM shape changes"
A few shape issues that arose in #2 :

- Change the ADMM implementation to accept `y` arrays of shape `(X.shape[0], )`, possibly by simply adding the line `y = y[:, None]` before restructuring too much of the code.
- Change the ADMM implementation to accept `X, y` arrays that are not split into 5 chunks, but an arbitrary number of chunks / arbitrary chunk distribution.

@hussainsultan

[2017-01-26 16:39] cicdw opened #9 "Robustness Tests"
We should have a testing framework / experimentation engine to test the algorithms for robustness to various types of input data (normalized / not-normalized / bad condition numbers / partial separability / low class sizes, etc.) -- eventually we might even want some sort of switching method that, for example, might detect bad conditioning in Newton's method and switch to gradient descent. This wi

[2017-01-26 18:55] mrocklin commented on #5
@mcg1969 if this is useful I do the following (also from @moody-marlin):

[code]

Requires master versions of dask and dask-glm

[2017-01-26 20:34] cicdw opened #11 "API discussion"
One of the biggest hanging issues is to organize / discuss what the **API** will look like for `dask_glm` and what sorts of things we expose.  This decision impacts algorithm structure going forward (as we incorporate other GLM families and regularizers) so I will need some help focusing the following discussion on specific action items.  My initial thoughts were to:

- *Aim for generality so user

[2017-01-26 21:24] mrocklin commented on #11
From the perspective of someone who is not intimately familiar with this field it would be useful to see an example algorithm for a particular case (perhaps un-regularized logistic regression using gradient descent) and then highlight which elements of the code we would change if we were to add L1 or L2 regularization, switch out logistic for some other GLM family, or replace gradient descent with

[2017-01-26 21:50] moody-marlin opened #12 "ADMM: Inner L-BFGS optimizations fail to converge"
If I slightly modify the inner `local_update` solves in the current ADMM implementation as follows:

[code]

Then on random data I see convergence issues:

[code]

With the following error:
[code]
which refers to abnormal termination in the line search (always with the line search...).

From the `fmin_l_bfgs_b` output:
[code]

[2017-01-26 21:54] moody-marlin commented on #7
See #12

[2017-01-26 22:49] cicdw opened #13 "How to handle intercept term?"
*What is the best way to handle intercepts?*

Right now, the algorithms assume the user creates a column of `1`s in their dask array, à la `statsmodels`.  However, sometimes it's convenient to have a `fit_intercept` option similar to `scikit-learn`.  Having this option set to `True` will require a step which appends a column of 1's to the user-supplied dask array, but it won't be as simple as the

[2017-01-26 22:55] moody-marlin opened #14 "BFGS Segmentation Fault"
On my local machine, `bfgs()` is creating a segmentation fault anytime I try to run it.

[code]

yields:
[code]

Possibly related to https://github.com/dask/dask/pull/1927 ?

[2017-01-26 23:11] mrocklin commented on #14
The warning is likely unrelated.

Can you try my dev branch?

[2017-01-26 23:13] mrocklin commented on #13
If the question is, how do I concatenate a column of ones, then the answer is to use the `da.concatenate` function.

[code]

[2017-01-26 23:25] moody-marlin commented on #14
Your dev branch doesn't give me the segmentation fault - what's different?

[2017-01-26 23:26] mrocklin commented on #14
Some things broke during the merge.  They're fixed now.

[2017-01-27 00:41] moody-marlin commented on #14
Fixed with #10

[2017-01-27 00:41] #14 closed

[2017-01-27 02:05] hussainsultan commented on #11
@moody-marlin Thanks for raising this.

What type of outputs do you expect that would be different than scikit-learn?

[2017-01-27 13:36] moody-marlin commented on #11
@mrocklin Thanks for the feedback, that's a good exercise that I can work on writing up.

@hussainsultan I would expect output more similar to `statsmodels`, so something like a model object that contains p-values, AIC, BIC, Somer's D, adjusted R^2, outlier / residual tests, etc.  Some of these values are still meaningful for regularized problems (e.g., R^2) while others are not (e.g., p-values).

[2017-01-27 18:12] mrocklin opened #16 "Add default arguments to ADMM code"
I started trying to play with @hussainsultan 's ADMM code.  However, it requires many parameters for which I do not know good values.  Can we add sane defaults there?  Do we know sane defaults?

Short term it would be useful to me to always be able to do the following for all solver routines:

    result = func(X, y)

[2017-01-27 18:19] mrocklin opened #17 "Compute_stepsize function in proximal_grad"
Currently the stepsize computation in `proximal_grad` is still embedded within the code, which makes it hard to manage it with Dask.  If the `proximal_grad` method is useful then it would be nice to pull this function out.

cc @moody-marlin

[2017-01-27 19:17] moody-marlin commented on #17
So this is where the regularization stuff gets hairy; `proximal_grad` is an algorithm for regularized logistic problems, which means the function evaluations within `compute_stepsize` need to be a *modified* `loglike` function; this in turn makes jitting compute_stepsize more complicated because it now needs a function argument.

[2017-01-27 19:18] mrocklin commented on #17
I'm not looking to jit, I'm looking to wrap with dask.delayed.  It is fine
to take a function as an input in this case.

On Fri, Jan 27, 2017 at 2:17 PM, Chris White <notifications@github.com>
wrote:

[2017-01-27 20:06] hussainsultan commented on #16
Thanks for the call out. Thats sometime that i intended to clean in my initial PR but then got sidetracked by consolidation. I will take this on.

[2017-01-31 13:07] mcg1969 commented on #11
I'd have to cast my vote to something that hews closer to a `statsmodels` approach than `scikit-learn`, both in terms of its API and the types of outputs it provides.

[2017-01-31 13:08] mcg1969 commented on #9
Once I get a bunch of delegatable tasks built out for my larger project I'm going to take a stab at this. Hoping to do so Wednesday or Thursday.

[2017-01-31 22:15] moody-marlin commented on #16
This should be resolved in PR #22

[2017-02-01 21:52] mrocklin opened #23 "Approximate exponents"
Fun fact: the current ADMM implementation can spend almost half of it's time computing `np.exp`

### Script

[code]

### Profile results

I use a wrapped version of `np.exp` just so that it shows up in profile results.

[code]

### Comments

Here are some comments from @stuartarchibald

How many exp() are you doing at a time?
If you are doing many, are the input values of similar magnitude?
Do you

[2017-02-01 21:54] mrocklin commented on #23
@jcrist this may interest you

[2017-02-01 22:17] mcg1969 commented on #23
In my experience we don't need to care about Inf/NaN checking, but we do need to make sure that it returns Inf if the input is too large.

[2017-02-01 23:15] moody-marlin commented on #23
I personally think that it could be useful to use inexact / approximate computations for a large piece of the algorithm and then use exact computations for the final steps.  A high-level overview of what I mean:

[code]

The first piece will hopefully be faster, and the second piece ensures that we are still solving the true  problem.

[2017-02-01 23:23] mrocklin commented on #23
It looks like exp appears in the following two places:

[code]

In the sigmoid case it seems like we only care about accuracy close to 1 because anything farther away will get squashed.

In the second case of `log(1 + exp(x))` might we seem to also only get interesting behavior around 1.  For other cases this seems to approach y = x or y = 0 quickly.

[2017-02-01 23:38] mrocklin commented on #23
It's also worth noting that the example above is an extreme case where there are only two columns.  As the number of columns increases we expect the matvec to dominate over the exp.

[2017-02-02 00:07] mcg1969 commented on #23
There are plenty of pieces of advice that Stuart has offered above that would require no numerical compromise and would be worth considering. But for the rest I'm going to maintain by spoil sport position here.

I'm opposed to doing anything that returns an approximate result. Statisticians want what they want; heck, most modelers want what they want. And if that's a logistic regression, that mean

[2017-02-02 00:27] mrocklin commented on #23
My understanding is that choices like sigmoid were fairly qualitative to start with, and so outputs should be relatively robust to approximation here.  Also, approximations of exp can be very very accurate if constrained to certain ranges.

There *is* evidence that people do approximate `exp` in deep learning communities.

However, benchmarking shows that this is only valuable in the small-number-

[2017-02-02 01:04] mcg1969 commented on #23
That's absolutely right! And yet I consider it completely irrelevant to this discussion. So it seems our disagreement here may be more philosophical than technical.

There is no doubt that a larger modeling effort might be robust to an approximation. The very act of _selecting_  a model to apply to a set of data implies approximation and heuristic. How many people have chosen least square simply b

[2017-02-02 01:21] mrocklin commented on #23
I hear what you're saying, and I appreciate the aversion to approximations, however I think that this may also be approximate in a similar way to how floating point arithmetic is approximate.  I suggest that we just try things out on real data and see if it has value in practice.  I'm not suggesting that we go down this path, I'm suggesting that we explore it.  I think it's cheap to try.  I'm enti

[2017-02-02 01:41] mcg1969 commented on #23
Get me to within `sqrt(eps)`  of the optimum (for the common measures thereof) and I won't complain.

[2017-02-02 02:43] hussainsultan commented on #23
For ADMM, my understanding is that you don't have to be precise for local updates for the solution to converge, which leads me to believe that some numeric testing will be helpful. @moody-marlin  thoughts?

[2017-02-02 02:54] hussainsultan commented on #16
resolved by #22. closing

[2017-02-02 02:54] #16 closed

[2017-02-02 03:01] mcg1969 commented on #23
There's quite a bit of literature about inexact search methods. For instance, a typical gradient/Newton?BFGS descent method, you'll still see progress towards the optimal solution as long as your descent directions exhibit negative inner product with the gradient (and some other technical conditions). With large-scale Newton methods in particular you can sometimes get significant savings by solvin

[2017-02-02 13:33] stuartarchibald commented on #23
This is an interesting discussion, I can't really comment on the domain specific use case of what e.g. modellers want, however, as an engineer I've some thoughts over the specific issue over `exp()` speed. First, I think performance is going to be to some extent dependent on the level of generalisation in the `exp()` function and how much that function can make use of the hardware vector units. Th

[2017-02-02 14:40] mrocklin commented on #23
@stuartarchibald which of these techniques would work well in a Python + Numba project that is strictly open source (no proprietary code).

[2017-02-03 15:53] mrocklin opened #26 "Profile results"
On eight m4.2xlarges  I created the following dataset

[code]

I then ran the various methods within this project and recorded the profiles as bokeh plots.  They are linked to below:

-  [admm](https://cdn.rawgit.com/mrocklin/e7bcb979e147102bf9ac428ed9074000/raw/d38234f3e9072816bea98d032f1e4f9e618242c3/task-stream-glm-admm.html)
-  [gradient-descent](https://cdn.rawgit.com/mrocklin/e7bcb979e147102

[2017-02-03 18:59] moody-marlin commented on #8
Resolved with PR #22

[2017-02-03 18:59] #8 closed

[2017-02-03 20:03] inati commented on #23
Sigmoid is very smooth, have you considered a lookup table?

[2017-02-03 21:13] mrocklin commented on #26
Testing notebook: https://gist.github.com/58ebc10424acd99d4514003e6d978076

[2017-02-05 01:34] inati commented on #23
Sigmoid has a neat taylor series expansion, super fast to evaluate and reasonably accurate even with a pretty rough lookup table.

My interpolation is pretty lame, but just to show that one of you actually applied math types could come up with something much more accurate.

I'm pretty sure that any reasonable rational function of exponents of polynomials will behave in a  similar way.

How much pr

[2017-02-06 12:35] stuartarchibald commented on #23
@mrocklin Enumerating the above techniques as 1-5.
1. Proprietary so no.
2. Proprietary so no.
3. This is doable under your constraints and is not a compromise of precision, just a performance hack. Like (in vaguely C):
[code]
goes to
[code]
4. Is a "compromise" but only in that the necessary approximating polynomial is now approximating the sigmoid opposed to the `exp()` function. Whilst not a ge

[2017-02-07 01:00] thrasibule commented on #23
One MIT licensed implementation for really fast exponential here: https://github.com/jhjourdan/SIMD-math-prims Looks like you get 20x speedup vs expf.

[2017-02-09 17:57] moody-marlin commented on #7
For unregularized problems, we can test for optimality of arbitrary problems easily by using `y = sigmoid(X.dot(beta))` (no thresholding) and testing that the estimated coefficients are close to `beta`;  how do we reliably test regularized problems though? I've considered dual certificates, and possibly 0 (sub)gradients, but is there a better way?

cc: @mcg1969

[2017-02-10 16:02] moody-marlin commented on #26
@mrocklin Has `gradient_descent` been optimized (using delayed, persist, etc.) in the same way that the other functions have?  I might be refactoring soon and I wanted to make sure that piece was taken care of first.

[2017-02-10 18:06] mrocklin commented on #26
I think so

On Fri, Feb 10, 2017 at 10:02 AM, Chris White <notifications@github.com>
wrote:

[2017-02-13 23:45] #17 closed

[2017-02-14 17:43] mrocklin commented on #26
Note that @eriknw is working on a dask optimization that may help to reduce overhead here: https://github.com/dask/dask/pull/1979

[2017-02-14 22:08] mrocklin commented on #26
I sat down with @amueller and we compare with sklearn's SGD.  We found that proximal_grad and sklearn.SGD were similar in terms of runtime on a single machine (using dask.distributed, we didn't try the threaded scheduler).  Presumably SGD was being a bit smarter and dask-glm was using more hardware.

[2017-02-15 19:31] moody-marlin commented on #26
@mrocklin Did you look at ADMM?  I'm currently starting to think that, going forward, we only employ ADMM, Newton, and gradient_descent.

[2017-02-15 19:34] mrocklin commented on #26
Nope, we only spent a few minutes on it.  We ran the following:

### Prep

[code]

### Dask GLM

[code]

### SKLearn

[code]

[2017-02-15 20:54] moody-marlin commented on #11
In terms of what is exposed and where, here is where my thoughts are: https://github.com/moody-marlin/dask-glm/blob/api_build/dask_glm/logistic.py

cc: @mrocklin @jcrist @hussainsultan

[2017-02-16 17:28] mrocklin commented on #11
Throwing Chris' example into a comment here for discussion

[code]

I'm not qualified to judge on most of this but I'm curious what some of these methods do.  Do all models implement a hessian?  Or is this just used during solving if its implemented?

Is there a way to satisfy both the sklearn and statsmodels APIs?  Roughly what is the statsmodels API?

Are the solvers built here tailored to Logis

[2017-02-16 18:46] moody-marlin commented on #11
All good questions; the current solvers which are immediately generalizable to other models are: `gradient_descent`, `admm`, and `newton` by replacing function / gradient / hessian evaluations with calls to the above methods, and by replacing the call to `shrinkage` in `admm` with a call to `proximal_operator` which can be used for any regularizer.

In my mind, there are two big differences betwee

[2017-02-20 17:06] hussainsultan commented on #11
Ok... these are my thoughts on how to make this work with sklearn interface:

[code]

the reason i like this is that it will work with sklearn as long as all of our methods work with `numpy` as well as `dask.array`.

also, if it were a dask.array we could possibly use `dask-learn` pipelines.

@jcrist  thoughts on above?

[2017-02-20 17:40] moody-marlin commented on #11
Could you provide an example of a feature we gain by inheriting directly from `sklearn` ?  I don't clearly see what these `sklearn` classes provide us.

[2017-02-20 17:47] jcrist commented on #11
Scikit-learn doesn't enforce inheriting from a base class, rather it requires a duck-typed interface. However, all of scikit-learn is written expecting immediate array-likes, so I'm not sure if dask-glm classes can really be mixed with scikit-learn stuff directly (at least when passing in dask-arrays). That said, I think matching the interface is a good idea, but not necessarily subclassing (could

[2017-02-20 20:56] hussainsultan commented on #11
thanks @jcrist  I wasnt aware that duck typing was sufficient for sklearn interface.

@moody-marlin i am happy with what you proposed with slight modification that we *try* to adhere to sklearn API. I think this is general enough that it will allow for the thing that you wanted to do. One example that i could think of was using sklearn pipelines that will work for `numpy` inputs. http://scikit-lea

[2017-02-20 21:56] mcg1969 commented on #11
[code]
This strikes me as an inappropriate mixture of categories. Methods like `gradient` and `Hessian` refer, I assume, to the ability to compute individual values and derivatives of a particular function. And of course, not every model we'd like to build fitting algorithms for are differentiable (e.g., regularized models). I know I'm late to the party, but is there a technical reason we need to

[2017-02-22 19:29] moody-marlin commented on #13
Naive attempt at using this to add an intercept makes `admm` choke:

[code]

This could be an issue with how `admm` assumes the data is chunked, or there might be another way we should handle intercepts?

[2017-02-22 19:58] mrocklin commented on #13
These lines are problematic

    XD = X.to_delayed().flatten().tolist()
    yD = y.to_delayed().flatten().tolist()

I recommend first rechunking these arrays to have only a single chunk along columns

[code]

[2017-02-22 20:47] moody-marlin commented on #7
Some examples of the issues we face in implementing a robust testing framework can be found here: https://github.com/dask/dask-glm/blob/master/notebooks/AccuracyBook.ipynb

[2017-02-22 20:49] mcg1969 commented on #7
Yeah, some sort of dual or subgradient criterion is likely needed...

[2017-02-23 19:51] moody-marlin commented on #6
Closed with #29.

[2017-02-23 19:51] #6 closed

[2017-02-24 16:32] moody-marlin opened #30 "BFGS: to keep or not to keep?"
Currently, the implementation of `bfgs` isn't always converging, and the implementation is messy.  Should we spend some time working on this, or toss it?  If we're going to keep it, what exactly is going on with the implementation?

[2017-02-25 14:53] mrocklin opened #31 "Question about convergence on repetitive data"
This is a question for @moody-marlin and @mcg1969

I expect that many large datasets will be highly repetitive.  That is that I expect a sample of the data to be decently representative of the full dataset.  Given this structure, it feels inefficient for our iterative algorithms to go over the entire dataset before updating parameters.

Are there situations in which it is advantageous to cycle thr

[2017-02-25 14:56] mrocklin opened #32 "Optimal chunksizes"
In some cases we may wish to rechunk our data prior to execution.  This can help to balance between high scheduling overheads (too many tasks) and poor load balancing (too few tasks).

It appears that different algorithms have different optimum sizes.  For example algorithms with low task counts like ADMM benefit from smaller chunksizes while algorithms with many small tasks like gradient/proximal

[2017-03-01 15:16] moody-marlin commented on #31
This is the insight that randomized algorithms like stochastic gradient descent take advantage of; so, in theory you could compute the gradient on a randomly selected chunk and use that to update the coefficients at each iteration.  I'm not convinced this would work well with only 10 chunks, but we could also take random subsets of data from a given chunk to increase the randomness.  I do think th

[2017-03-01 15:37] mrocklin commented on #31
If you want to do a full shuffle then the answer is "somewhat expensive".  If you want to split per-chunk then the answer is "pretty cheap"

We can trivially cycle through random chunks.  This probably violates iid assumptions though in the common case.  We can easily produce 10 1/10th size datasets by splitting each chunk into 10 and treating those splits as 10 dask.arrays.  This has the cost of

[2017-03-12 14:24] mrocklin commented on #5
That paper shows faster convergence than what you would expect just by filling in whitespace.  I suspect that we accelerate a bit just because there is redundancy in the data itself, and so many-small-fast updates on partial datasets converge more quickly.

[2017-03-12 14:26] mrocklin commented on #5
Anyway, writing the communication side of that algorithm looks more-or-less trivial from a dask.distributed perspective.  I think it would be a fun demonstration.  I'm not sure what the update functions should be though.

[2017-03-13 12:45] TomAugspurger commented on #11
I did a bit of rough tinkering to hookup statsmodels and dask / dask-glm [here](https://github.com/statsmodels/statsmodels/compare/master...TomAugspurger:dask-glm). The two biggest tasks were getting statsmodels Model class to accept dask arrays (that version is hacky, no error checks, no patsy), and using `dask-glm` in the `.fit` step.

The most awkward part was statsmodels' `.fit` methods (at le

[2017-03-13 13:49] mrocklin commented on #11
This notebook also ran fine on a distributed system (I think) at least locally.  You might want to add a `.persist()` at the end of the from_array calls.

In general I like that this seems to be on a path towards figuring out a good hand-off point between the projects.

[code]

cc @moody-marlin thoughts on this?  @TomAugspurger is this the full expected interface below?

[code]

Here you hard code

[2017-03-13 13:57] TomAugspurger commented on #11
IIRC, this isn't perfectly unified across all of statsmodels. Certain fit methods / optimizers have their own arguments. I was meaning to look more closely but ran out of time.

You provide a family argument when you instantiate the model:

[code]

I haven't looked but I assume that statsmodels' version has all the info we need to lookup the corresponding dask-glm version.

[2017-03-13 14:28] mrocklin commented on #11
@TomAugspurger what do you think is the right way forward here?  Is this worth pursuing?  What are things that should be worked on on the dask-glm side?  Are there open questions for the statsmodels community?

[2017-03-13 23:42] moody-marlin commented on #26
I haven't looked into whether we could use this data for benchmarking, but the incredibly large dataset over at https://www.kaggle.com/c/outbrain-click-prediction/data seems like it could be a good candidate.  We might have to process the data a little bit before fitting a model, but I wouldn't mind taking a stab at that piece.

cc: @hussainsultan @jcrist

[2017-03-14 00:31] hussainsultan opened #33 "create conda-forge package"
For running `dask-glm` in  internal (enterprise) environment,  i run into scenarios where a conda-forge package is much easier to mirror internally than straight from the git (external) repo.

[2017-03-14 01:29] TomAugspurger commented on #11
I'll do some more experimentation, but it'll be a bit.

I'd like to get a more cleaned up version of dask + statsmodels working, to
essentially replace
https://github.com/statsmodels/statsmodels/blob/master/examples/notebooks/distributed_estimation.ipynb
I'd prefer statsmodels users use dask for larger datasets, rather than
writing their own larger-than-memory handling.

Not really sure at this po

[2017-03-14 02:14] hussainsultan commented on #31
@moody-marlin  for admm, does it matter if data is sorted or randomized?

[2017-03-14 02:23] mrocklin commented on #31
I suspect that randomization matters more if you consider only batches or samples at a time.

[2017-03-14 14:17] moody-marlin commented on #31
@hussainsultan yea, randomization is best -- sorted is probably not a good idea (example: imagine one of the local updates tries to fit a logistic regression on data that has no observed `1` event).

[2017-03-14 17:33] hussainsultan commented on #31
ADMM will still converge if the data is not randomized but take a long time, is that what you meant by not a good idea?

[2017-03-16 15:04] mrocklin commented on #33
Seems like a good idea.  This is easier if there is a PyPI package.  @moody-marlin any objection to my tagging a release and pushing this project to PyPI with a heavy disclaimer?

[2017-03-16 16:27] moody-marlin commented on #33
No strong objections; maybe we can wait until tomorrow to see if / what we add to dask-glm in the next 24 hours?  Otherwise I'm fine with it.

[2017-03-17 21:07] cicdw opened #34 "Initialization Routines"
An all-too-often ignored side of optimization is the initialization; there is a lot of research out there suggesting that for both convex (and even more so for non-convex) optimization problems, a large amount of work can be saved by initializing algorithms at clever starting values.

Currently we are initializing all algorithms with the 0 vector.  Once the API (https://github.com/dask/dask-glm/is

[2017-03-17 21:11] mpancia commented on #34
As we discussed earlier, I think this is a really cool idea, and I'm glad to be part of the discussion.

As a novice to this (and for the purposes of furthering a discussion), do you know any good surveys of what the `academically well-grounded` things look like and/or some higher-level discussions of the benefits of Smart Initialization™?

[2017-03-20 14:17] mrocklin opened #35 "Extend GLM Families"
So far in https://github.com/dask/dask-glm/blob/master/dask_glm/families.py we have families for linear/normal and logistic that look like the following:

[code]

-  Do we want to extend these to other GLM families?
-  If so then what other options are most useful?
-  Is the current interface sufficient and ideal?

[2017-03-20 15:42] moody-marlin commented on #35
The only other GLM family I know of that is used "in the wild" is the Poisson family which should be very straightforward to include.  (@mpancia do you know of any others?)

@hussainsultan didn't like the use of classes filled with staticmethods just for convenient namespacing, he would prefer a `families` module with `Normal.py`, etc.  I originally implemented this with classes in case we ever wa

[2017-03-20 16:04] mpancia commented on #35
@moody-marlin Poisson, for sure; I would also include some of the other basic families, even though they are slightly less common (e.g. binomial and/or with alternate link functions e.g. probit)

[2017-03-20 17:08] moody-marlin commented on #34
No surveys that I know of unfortunately, but here's a list off the top of my head:

- I've heard people say you can use the [close connection between LDA and Logistic Regression](http://www.dtic.mil/get-tr-doc/pdf?AD=ADA125708) to initialize one with the other (I haven't thought about too much about speed / efficiency trade-offs here)
- In the non-convex case, there's the "famous" [k-means++](http

[2017-03-21 17:26] moody-marlin commented on #12
This appears to be due to incredibly stringent keyword arguments that we were feeding, namely: `pgtol=1e-10` and `factr=1e-30`.  Using the scipy defaults makes this go away.

[2017-03-22 11:25] #12 closed

[2017-03-22 17:28] mpancia commented on #35
After looking at it for a little bit, I think mimicing the `statsmodels` API for their families makes sense: https://github.com/statsmodels/statsmodels/blob/master/statsmodels/genmod/families/family.py

They have (what amounts to) an abstract base class `Family` which specifies  `Link` and `Variance`. The abstract properties/methods are reflective of the method they are using to fit it (IRLS), as

[2017-03-22 17:31] mrocklin commented on #35
@mpancia to be concrete can you give an example of what algorithms in `algorithms.py` should take as inputs?

[2017-03-22 17:35] mpancia commented on #35
@mrocklin Yeah, sure! In, e.g. Newton's method:

[code]

The only time that `family` is accessed is to retrieve `family.gradient` and `family.hessian`; Seems to me that `newton` ought to just have `gradient` and `hessian` arguments, so that I could use it on a more arbitrary function.

[2017-03-22 18:51] moody-marlin commented on #35
I actually really like this idea but I *do* think a refactor which preserves the runtimes will be more difficult than it initially seems; for example, @mpancia I'd encourage you to try and refactor the `gradient_descent` code and track the runtimes for a given dataset.  In that code, we explicitly exploit the linear-model-ness and keep `Xbeta` as an in-memory `numpy` array, instead of having a poi

[2017-03-30 01:16] moody-marlin commented on #7
https://gist.github.com/moody-marlin/e2de54ca17d615b263f80372031cb865 cc: @mpancia

Proximal grad does worst because the line search is currently very crude.

[2017-03-31 11:46] MLnick commented on #30
By the way is it possible to just use `scipy.optimize`? That way it will certainly be correct?

Not sure if you are using standard L-BFGS (with parallel gradient computation, sum the worker grads on master, take L-BFGS step) or the vector-free version (in which case I guess you would need to do your own impl)

[2017-03-31 12:02] mrocklin commented on #30
I believe that scipy.optimize will convert things to numpy arrays.  These may not fit in local memory.  The current implementation keeps everything on the cluster except the final parameters.

[2017-04-03 17:25] mrocklin opened #38 "Relax requirements"
Currently requirements.txt specifies exact versions.  This makes it very hard to use dask-glm with other libraries.

We should probably use `>=` modifiers instead and choose older versions of libraries if possible.

[2017-04-04 17:08] hussainsultan commented on #38
+1

[2017-04-04 21:12] stoneyv commented on #30
The **scipy.optimize L-BFGS-B optimization method** passes the arrays to a Fortran routine via F2PY.
https://github.com/scipy/scipy/blob/master/scipy/optimize/lbfgsb/lbfgsb.pyf

scipy.optimize offers numerous optimization methods including L-BFGS-B. (L limited memory, B with simple bounds ) The L-BFGS-B implementation utilizes Fortran code from Richard H. Byrd et Al at NorthWestern university via

[2017-04-05 06:55] MLnick commented on #30
The way Spark does L-BFGS is that it actually uses Breeze's optimization API and L-BFGS (and OWLQN) implementation. That takes a function (`DiffFunction`) which effectively defines the gradient and value functions.

Now, the specific impl of the `DiffFunction` in this case actually just does an `RDD.map` over the training data, aggregating gradient updates, and then reduces those per-partition gra

[2017-04-05 23:58] stoneyv commented on #7
I need to find support for this, but in Stephen P. Boyd's (Stanford EE Dept) presentation about ADMM on Jan 25th 2012 mentioned that ADMM without regularization is fragile.  What makes it very robust and guaranteed to converge is regularization.  This is mentioned somewhere before the 18 minute mark.  I will find a source for this.  http://videolectures.net/nipsworkshops2011_boyd_multipliers/

[2017-04-06 12:13] MLnick commented on #30
So I did a quick 'n dirty attempt at a "Spark-like" approach to check, where the gradient & loss function at each iteration (should be) computed on the cluster and "reduced" locally to driver. This function is passed to `scipy.optimize.fmin_l_bfgs_b`.

(*Note* I'm unfamiliar with dask details & internals).

Comparing to scikit-learn `LogisticRegression` (with `solver="lbfgs"` and effectively zero

[2017-04-06 13:11] mrocklin commented on #30
I would like to run this on a cluster with a larger dataset than I can make locally.  Does anyone have a suggestion to replace the following line with pure numpy code (that I could then rewrite with dask.array)

    X, y = datasets.make_classification(n_classes=2, n_samples=1000)

[2017-04-06 13:24] mrocklin commented on #30
Here is a notebook of things running on a cluster.  I artificially increased the dataset size by replicating it.
 I suspect that this may not be the best way to do this.  Still, it's interesting to see the performance difference.

https://gist.github.com/mrocklin/cdd04293859764c542ccf547f81ab7a5

[2017-04-06 13:27] mrocklin commented on #30
Also, I had to copy the gradient array coming back for some reason.  Fortran was complaining about one of the inout parameters not being properly ordered.  (which is odd given that it's single-dimensional).

[2017-04-06 13:29] moody-marlin commented on #30
@mrocklin you could try:

[code]

[2017-04-06 13:45] mrocklin commented on #30
See notebook here: https://gist.github.com/mrocklin/4e486064882cce630ffb4ee4e39bc333

[2017-04-06 13:48] mrocklin commented on #30
Just to make sure I understand what's going on here.  In between the client and cluster are we moving a vector of length the number of columns or a vector of length the number of rows?

1.  A vector of length the number of columns
2.  A vector of length the number of rows

Looking at the code it looks like we're only moving data of the size the number of columns.

[2017-04-06 13:50] MLnick commented on #30
Should be (1) if correct.

[2017-04-06 13:51] mrocklin commented on #30
@MLnick do the above timings seem sensible to you?

[2017-04-06 14:29] MLnick commented on #30
What is the cluster spec you used?

[2017-04-06 14:43] mrocklin commented on #30
Eight m4.2xlarges.  Seven held dask workers.  Each dask worker was a single
process with a thread pool of eight threads.

On Thu, Apr 6, 2017 at 10:29 AM, Nick Pentreath <notifications@github.com>
wrote:

[2017-04-06 14:44] mrocklin commented on #30
I found that about a third of the time was spent computing.  A third
communicating data, and a third in graph construction overhead (which we
should eventually be able to eliminate, given that it's exactly the same
graph every time, or by using larger block sizes.)

On Thu, Apr 6, 2017 at 10:43 AM, Matthew Rocklin <mrocklin@continuum.io>
wrote:

[2017-04-06 15:30] MLnick commented on #30
Cool. I have a different cluster setup (4x worker nodes with 48 cores and 120GB RAM each).

I don't have Dask running but did a quick test of Spark's LR on same data size (100,000,000 samples, 10 dimensions, 2 classes).

I used 64 total cores and 256GB total RAM to try match up more closely.

Spark runs in around 13/14 secs. So more or less what I might expect, Dask should be a little quicker as i

[2017-04-06 15:36] mrocklin commented on #30
Yeah, similarly I would expect that Spark is better at aligning partitions in X and y and that the graph construction overhead is less.  Presumably each project has something to learn from the other.

Are you able to post the code you used to run the experiment?

Also, this project is a bit janky, but you might find it interesting: https://github.com/mrocklin/dask-spark

[2017-04-06 16:18] stoneyv commented on #32
Section 4.2 Cache-aware Access of Tianqi Chen and Carlos Guestrin's XGBoost paper discusses the tradeoff between smaller blocks with small workloads and inefficient parallelization for each thread and larger blocks that result in processor cache misses.  They do this analysis for two data sets Allstatate 10M and Higgs 10M.  Figure 9 plots time per thread versus number of threads for block sizes of

[2017-04-07 05:36] stoneyv commented on #30
The HIGGS data set that was used in the XGBoost paper benchmarks has 11000000 rows and 28 attributes.  The file HIGGS.csv.gz is 2.6 GB large and is available here
'physical sciences' -> HIGGS
http://archive.ics.uci.edu/ml/datasets.html

[2017-04-07 05:50] stoneyv commented on #30
Tensorflow used the Criteo 1TB click data set for benchmarks this February.  You may or may not like the terms, but it would be interesting to see how long dask-glm takes.
Criteo 1TB click data set
http://labs.criteo.com/2013/12/download-terabyte-click-logs/
Tensorflow benchmarks using Criteo data set  ( linear model 70 minutes )
https://cloud.google.com/blog/big-data/2017/02/using-google-cloud-ma

[2017-04-07 07:54] MLnick commented on #30
I have the Criteo 1TB dataset on my cluster. I'll have to double check but I think I have part of it pre-processed into Parquet files of feature vector and label.

The total feature size is order 800,000,000 so pretty large. I've found Spark LR tends to fall down around even 20-30 million dimension. If I find some time I will try to run dask-glm on a few different feature sizes (For other experime

[2017-04-07 08:06] mrocklin commented on #30
How is it laid out within Parquet?

My guess is that we would want to manage this as blocked scipy.sparse arrays.  I could probably work up a sparse implementation shortly that supported the operations necessary for `compute_logistic_loss_grad`.

[2017-04-07 13:34] MLnick commented on #30
It's laid out as a "label" column (double) and a "vector" column (sparse vector of doubles, basically a SparkSQL / Parquet struct).

Spark LR works row-wise - maps an aggregation function over each (label, vector) row and aggregates the gradient by summing. This happens per partition, then the gradient vector for each partition is reduced (again summed) to one gradient vector back on the driver.

[2017-04-07 13:54] mrocklin commented on #30
What is the encoding of the sparse vector?  Is this part of the parquet standard or something specific to Spark?

You're correct that dask.arrays don't support sparse, although I added them in a branch this morning: https://github.com/dask/dask/pull/2179

Really though, it would probably be more straightforward to do what you describe using [dask.delayed](http://dask.pydata.org/en/latest/delayed.h

[2017-04-07 17:35] stoneyv commented on #30
I have used scipy.sparse instead of numpy when I had a huge number of features (approximately 4 million).  I think that most of the operations are supported.  There are csr ( compressed sparse row ) and csc ( compressed sparse column )
https://docs.scipy.org/doc/scipy/reference/sparse.html
[code]

[2017-04-08 15:50] mrocklin commented on #30
MLNick do you have any interest in contributing a PR with a genericized version of your bfgs solution to `dask_glm/algorithms.py`?  I think that it would be useful to have.

[2017-04-10 23:26] #38 closed

[2017-04-12 19:36] TomAugspurger commented on #11
If you're interested, I've taken a stab at this in https://github.com/dask/dask-glm/pull/40

[2017-04-19 20:29] TomAugspurger opened #41 "ADMM is susceptible to overflow"
(edited to not require the new API)

Probably other algorithms too. I see that proximal_grad does handle it correctly.
This little script compares the fit for scikit-learn LogisticRegression and our admm against a baseline of no-overflow, to a copy of the dataset with `n` values in a range that will overflow when passed through the sigmoid function.

[code]

Outputs

[code]

[2017-04-24 13:13] MLnick commented on #30
Sorry for the delay - yes I will try to work something up soon.

[2017-04-25 20:26] mrocklin commented on #5
@moody-marlin any thoughts on solidifying the async admm solver in algorithms.py?  Presumably this would need some hardening of the logic to support convergence checks and whatnot.

[2017-04-25 21:44] moody-marlin commented on #5
Yea that sounds like a good plan; I can look into this more on Thursday / Friday.

[2017-04-27 21:51] moody-marlin commented on #41
This is a good find; philosophical question: is this an issue for ADMM or for the `Logistic` family?  I imagine we could control the overflow from within the gradient / function calls there and leave ADMM untouched.

[2017-04-28 11:12] TomAugspurger commented on #41
Oh good call. The overflow is happening in the exponential of the `loglike` step.

[2017-04-28 23:27] moody-marlin commented on #41
Tried fixing this over [here](https://github.com/moody-marlin/dask-glm/blob/logistic-overflow/dask_glm/families.py#L9-L11); the change prevents the overflow.

The default penalty for `scikit-learn`'s `LogisticRegression` is actually `l2`, so in your experiment above the two algorithms are solving different problems (our default penalty for `admm` is `l1`).  (I imagine that happened because you swi

[2017-05-02 19:35] moody-marlin opened #47 "L2 regularization scaling is inconsistent"
If we use define `l2` regularization as:
[code]
then the regularizer is given by
[code]
which has proximal operator `1 / (1 +t) x` (which is what we [currently have implemented](https://github.com/dask/dask-glm/blob/master/dask_glm/regularizers.py#L10)).  However, all of our [other methods](https://github.com/dask/dask-glm/blob/master/dask_glm/regularizers.py#L24) assume the regularizer is given b

[2017-05-02 20:35] cicdw opened #48 "Abstract Base Classes"
We should probably implement abstract base classes for `Regularizer` and `Family` with corresponding documentation; as #47 and #46 have highlighted, the lack of a solid template can lead to problems.

- [x] Regularizer Base Class
- [ ] Family Base Class

[2017-05-04 22:01] #47 closed

[2017-05-04 22:01] moody-marlin commented on #48
Still need abstract base class for families.

[2017-05-09 21:22] mrocklin opened #52 "Criteo benchmark"
I tried out dask-glm on a subset of the criteo data here:

https://gist.github.com/mrocklin/1a1c0b011e187a750a050eb330ac36b2

This used the following:

1.  The LogisticRegression class
2.  The lbfgs solver
3.  Mixed dense/sparse arrays from dask.array

I suspect that there is still a fair amount to do here to optimize performance and quality of the model

cc @moody-marlin @TomAugspurger @MLnick

[2017-05-09 21:45] moody-marlin commented on #30
Kept.

[2017-05-09 21:45] #30 closed

[2017-05-10 11:49] mrocklin commented on #52
Some questions that arose from this work:

1.  Are our sparse matvecs performing correctly?  (I wasn't getting much signal from the sparse columns at one point)
2.  How can we transform our data or model to handle the large imbalance between not-clicked (97%) and clicked (3%) ads
3.  How can we make L1 regularization work when we pass non-differentiable points
4.  Should we create transformers for

[2017-05-10 19:06] #41 closed

[2017-05-10 19:36] MLnick commented on #52
For (2), typical approaches include over/under sampling (e.g. https://github.com/scikit-learn-contrib/imbalanced-learn), and using sample weights (which most sklearn estimators support).

(3): L1 reg won't work with L-BFGS. As mentioned in the discussion for #40 there is the "trick" to use L1 with L-BFGS, or one must use OWL-QN (such as https://pypi.python.org/pypi/PyLBFGS/0.1.3).

You should be a

[2017-05-11 14:33] cicdw opened #54 "First Release Discussion"
@TomAugspurger has mentioned having a first release soon; I'd like to collect the things that we think are blocking that from happening at this moment and check them off the list (any of these left un-checked are open for anyone to work on):

- [ ] some minimal statistical output (e.g., `p`-values for non-regularized problems)
- [x] docs
- [ ] some sort of algorithm selection criteria (nothing com

[2017-05-16 02:18] postelrich commented on #54
I see the docs checked off but there is no link to generated docs in the readme (readthedocs?).  I would also add in just a little more info to the readme.

[2017-05-16 12:09] TomAugspurger commented on #54
Thanks. Added links in https://github.com/dask/dask-glm/commit/aae15bd7cd15abea18898bb2a41addd9b97af835

[2017-05-25 08:48] mrocklin opened #57 "Parameter server"
This is a summary of an e-mail between myself and @MLnick

### From Nick

Taking the simplest version of say logistic regression, the basic idea is to split up the parameter vector (beta) itself into chunks (so it could be a dask array potentially, or some other distributed dask datastructure). Training would then iterate over "mini-batches" using SGD (let's say each mini batch is a chunk of the X

[2017-05-25 08:57] MLnick commented on #57
Thanks for summarizing things. I ran into a first issue: `TypeError: Don't know how to scatter <class 'numpy.ndarray'>`.

I assume dask array already has serializers for numpy ndarray (and sparse too?). Is there an easy way to re-use them?

[2017-05-25 08:59] mrocklin commented on #57
Sorry, I was on master, which supports scattering singletons.  Try scattering a list:

[code]

[2017-05-25 09:28] MLnick commented on #57
Thanks - that solved the scatter. But with a simplified version of ps method:

[code]

I get:
[code]

Full stacktrace [here](https://gist.github.com/MLnick/b42613104470501546e4e0209c58fa34)

[2017-05-25 09:30] mrocklin commented on #57
Your future_beta value is a list.  Try unpacking

        [future_beta] = c.scatter([beta])

On Thu, May 25, 2017 at 10:28 AM, Nick Pentreath <notifications@github.com>
wrote:

[2017-05-25 09:40] MLnick commented on #57
Ah thanks!

Another question - is there a way to control which workers dask arrays will be located on? i.e. Can I ensure that the dask array `X` is split among workers `w1`, `w2` only?

[2017-05-25 09:41] mrocklin commented on #57
http://distributed.readthedocs.io/en/latest/locality.html

On Thu, May 25, 2017 at 10:40 AM, Nick Pentreath <notifications@github.com>
wrote:

[2017-05-25 10:29] MLnick commented on #57
Thanks - it seems for constructing a dask `array` on a specified set of workers, it would have to be done via `delayed` with `workers` kwarg?

[2017-05-25 10:35] MLnick commented on #57
I'm having a weird issue with submitted tasks on workers not being able to see updates in the channel. Here's a simple repro:

[code]

[2017-05-25 11:07] mrocklin commented on #57
Hrm, try `x = client.persist(x, workers={x: [...]})`

The worker client may not get updates immediately after creating the channel.  It could take a small while.  Typically we've resolved this in the past by iterating over the channel like `for future in channel: ...` however in this case where we want to get the last element this seems less than ideal.

[2017-05-25 14:08] MLnick commented on #57
Ok yeah - it seems to be a very small delay in being able to view the data. The "iter" works well.

This brings up a couple potentially useful things for a `Channel`:

1. Be able to poll the head of the queue (or perhaps even a "slice"?) in a "blocking" manner (much like [`__iter__`](https://github.com/dask/distributed/blob/master/distributed/channels.py#L271) seems to work)
2. Be able to "clear"

[2017-05-25 14:11] MLnick commented on #57
So, I have the very basics of working setup for the PS and a worker, using an ADAGRAD variant of SGD. I haven't properly "distributed" either the gradient computation (which should be done async, parallel, per chunk of `X, y` data) or the params on the PS. Also haven't done the "sparse" update version, I've just been working with full dense arrays so far.

But I did verify the Adagrad version give

[2017-05-25 21:12] mrocklin commented on #57
Yes, so I think that rather than extending channels we might want to build a few new constructs including:

1.  Multi-producer multi-consumer queues
2.  Global singleton values

I think that these would solve your problems, would probably be useful in other contexts as well, and would probably not be that much work.  This is the sort of task that might interest @jcrist if he's interested in gettin

[2017-05-30 18:55] mrocklin commented on #57
Checking in here.  @MLnick are you still able to make progress (with what time you have).

[2017-05-31 09:06] MLnick commented on #57
Hey, meant to post an update but been a bit tied up.

I got the basics working. Here is the [gist](https://gist.github.com/MLnick/27d71e2a809a54d82381428527e4f494).

Current limitations / TODOs:
1. This seems to be computing the worker chunks in serial - so this should be done async in parallel of course.
2. Doesn't yet handle the "sparse" version, i.e. pulling only active feature indices. So this

[2017-05-31 11:32] mrocklin commented on #57
Some feeback on the code:

1.  In worker() you might want to make the channels outside of the for loop
2.  This line blocks on each call to compute: `res2 = [d.compute(workers=['w1', 'w2']) for d in res]`.  Instead you probably want `futures = client.compute(res); client.gather(futures)`
3.  Rather than use a number of iterations you might consider sending a stop signal from the client or another

[2017-05-31 11:33] mrocklin commented on #57
How is this typically done?  Do the workers always send updates to both parameter servers?

[2017-05-31 13:40] MLnick commented on #57
It really depends on architecture.

[Glint](https://github.com/rjagerman/glint) for example is done with Akka actors. It has a "masterless" architecture. There is a single "actor reference" representing the (client connection to) the array on the PS. It exposes a `push(indices, values)` and `pull(indices)` method. The PS Array actor takes care of sending the correct indices and values to each shar

[2017-05-31 14:08] mrocklin commented on #57
Yeah, my brain went that way as well.

First, the simple way to do this is just to have a channel for each parameter server and to manage the slicing ourselves manually.  This isn't automatic but also isn't that hard.

However, the broader question you bring up is a dask collection (bag, array, dataframe, delayed) that is backed by a changing set of futures.  In principle this is the same as a cha

[2017-05-31 16:43] mrocklin commented on #57
I played with and modified your script a bit here: https://gist.github.com/MLnick/27d71e2a809a54d82381428527e4f494

This starts multiple worker-tasks concurrently.  It also evaluates the change in beta over time.

[2017-05-31 18:54] MLnick commented on #57
Thanks, will take a look.

When I get some more time I will try to do the sparse param updates and then test things out on some larger (sparse) data (e.g. Criteo).

[2017-06-05 16:05] mrocklin commented on #57
Whoops, it looks like my last comment copied over MLnick's implementation rather than my altered one.  Regardless, here is a new one using Queues and Variables.

https://gist.github.com/mrocklin/a92785743744b5c698984e16b7065037

Things look decent.  Although at the moment the parameter server isn't able to keep up with the workers.  We may want to either batch many updates at once or switch to asy

[2017-06-05 16:13] mrocklin commented on #57
This currently depends on https://github.com/dask/distributed/pull/1133

FWIW to me this approach feels much nicer than relying on channels as before.  Some flaws:

As mentioned the parameter server can't keep up.  I suspect that we want a `get_many` method on the queue to implement batching.  As stated we may also want to enter into the full async API to help hide latencies.  This is probably som

[2017-06-05 17:06] TomAugspurger commented on #54
@moody-marlin I think the 4th item (`**kwargs` to all algos) can be checked off.

Will you have a chance to work on / sketch out what's needed for the statistical output sometime this week? I have some time on Friday that I could use to cut a release.

[2017-06-06 20:08] moody-marlin commented on #54
Hey @TomAugspurger - really sorry about the radio silence on my end; I have time to knock off the other checkboxes before Friday (tonight or tomorrow night).  (For the initialization `kwarg` I just need to tell the algos how to use it).

For the statistical output, I have time to sketch something out for sure, but I *don't* want to promise a strongly validated set of statistical outputs before Fri

[2017-06-07 21:34] TomAugspurger commented on #54
Sounds good. My free time has evaporated (funny how that happens) so it'll be next week at the earliest anyway.

[2017-06-08 21:58] moody-marlin commented on #54
Cool cool, that works for me too (traveling yet again); working on it over [here](https://github.com/moody-marlin/dask-glm/tree/release_clean_ups) for anyone interested.

[2017-06-12 15:14] mrocklin commented on #57
@MLnick any objection to my including this as an example in a small blogpost?

[2017-06-12 15:14] mrocklin commented on #57
I'm happy to give you attribution for the work.

[2017-06-12 15:31] MLnick commented on #57
Sounds great - I won't be able to help with it this week but otherwise
happy to work on something or help review
On Mon, 12 Jun 2017 at 17:15, Matthew Rocklin <notifications@github.com>
wrote:

[2017-06-27 21:22] hussainsultan commented on #54
late to the party here. I am happy to pick-up some work for the release if it doesnt come in the way of @TomAugspurger and @moody-marlin

[2017-06-28 14:27] TomAugspurger commented on #54
Ideally we would have something by scipy, as I think you have a talk
scheduled :) I'll be busy the rest of the week, but can take a look early
next week to see where we are.

On Tue, Jun 27, 2017 at 4:22 PM, Hussain Sultan <notifications@github.com>
wrote:

[2017-07-21 22:38] stsievert commented on #57
I'd be interested in seeing this comparison, especially as number of workers/communication channels increase.

I've looked through the PS in https://github.com/dask/dask-glm/issues/57#issuecomment-306228865. As far as I can tell, the main benefit behind this PS is with async communication: the above distributes communication to many worker-PS channels (which means it's not limited by bandwidth of

[2017-07-26 00:36] TomAugspurger opened #59 "DOC: Extra deps for RTD"
Not sure if this link is public: https://readthedocs.org/projects/dask-glm/builds/5741657, but we at least need s3fs. No time to look atm.

[2017-10-02 15:53] #59 closed

[2017-10-02 16:06] TomAugspurger commented on #54
I put a 0.1.0 up on PyPI at https://pypi.org/project/dask-glm/

Let me know if you'd like to be added as a maintainer.

[2017-10-07 22:49] moody-marlin commented on #54
@TomAugspurger yea you can put me down as a maintainer!

[2017-10-08 11:01] TomAugspurger commented on #54
Thanks Chris. Do you have an account on https://pypi.python.org/pypi?

On Sat, Oct 7, 2017 at 5:49 PM, Chris White <notifications@github.com>
wrote:

[2017-10-08 16:20] moody-marlin commented on #54
Just got one: https://pypi.org/user/moody-marlin/

[2017-11-06 19:39] TomAugspurger opened #63 "Package reorganization"
It'd be good to clarify the boundaries of dask-glm and dask-ml. My motivation is building up a set of utilities in dask-ml for working generically with dask or NumPy arrays, and dask or pandas dataframes.

I'd like to move the estimator interface over to `dask-ml` and leave all the optimization and regularization logic here. I think that `families` would stay in dask_glm.

With that reorganization

[2017-11-08 16:50] TomKealy opened #64 "Changes to ENet documentation"
Hello!

I've made some changes to the ENet prox operator documentation, and I'd like to submit a pull request and have it looked at.

I've put it in my own branch on my machine - but when I try to make a PR I get told that I'm not authenticated to do that.

More generally, I've got time until the new year to write some more documentation or I could re implement some of my PhD work on fully distrib

[2017-11-08 17:27] TomAugspurger commented on #64
Thanks.

Can you make sure you've forked the repository (top right corner), and that your remotes are set correctly?

[code]

[2017-11-11 04:28] mrocklin commented on #64
@TomKealy any success trying to fork this repository on github?  Please let us know if you would appreciate additional help here.

[2017-11-14 16:48] TomAugspurger opened #65 "Intercepts should not be regularized"
xref https://github.com/dask/dask-ml/issues/84#issuecomment-34377215

[2018-02-16 23:31] Shellcat-Zero opened #67 "Dask-glm throws ContextualVersionConflict"
After running either `pip install dask-glm` or `conda install dask-glm` the [dask-glm-bench notebook](https://gist.github.com/mrocklin/a0f0826ea7f4463c8c99880f1893a43f) fails to import the line `from dask_glm.algorithms import proximal_grad, admm` with a ContextualVersionConflict error:
[code]
Both `pip freeze` and `conda list` show that multipledispatch version 0.4.9 is installed satisfying the d

[2018-02-17 04:10] TomAugspurger commented on #67
Your setuptools looks pretty old. Can you try upgrading that?

[2018-02-17 20:35] Shellcat-Zero commented on #67
I presume they were automatically setup using dask-ec2 when I launched the EC2 cluster.  Which setuptools are you referring to, or how do I update them?

[2018-02-17 20:36] TomAugspurger commented on #67
Setuptools is a python packaging library:
https://setuptools.readthedocs.io/en/latest/

pip install --upgrade setuptools should do it.

On Sat, Feb 17, 2018 at 2:35 PM, Shellcat-Zero <notifications@github.com>
wrote:

[2018-02-17 20:41] Shellcat-Zero commented on #67
Ah yes, thanks, I thought you were referring to something more conda-specific.  I'm going to re-create the cluster (I've already destroyed it) and try this again to verify.

[2018-02-17 20:43] mrocklin commented on #67
Before relying too heavily on dask-ec2 you may want to read
http://dask.pydata.org/en/latest/setup/cloud.html

On Sat, Feb 17, 2018 at 3:41 PM, Shellcat-Zero <notifications@github.com>
wrote:

[2018-02-17 20:55] Shellcat-Zero commented on #67
I'll have a look, thanks.

[2018-02-17 22:19] Shellcat-Zero commented on #67
Updating setuptools worked, thanks.  Closing issue.

[2018-02-17 22:19] #67 closed

[2018-03-02 21:31] sixpearls opened #68 "distributed and/or asynchronous algorithms for numeric methods"
Hi all,

I am a second year PhD student in mechanical engineering at UC Davis studying numeric methods for optimal control. I just learned about dask and I'm excited about using it for the types of problems I do in my research. I think it might already, or be very close to, be a really great way to increase performance for common numeric methods in scientific computing.

In general, it seems that

[2018-03-02 22:35] mrocklin commented on #68
Most of what you say seems to make sense to me.  I'll echo some things that I'm hearing back to you to make sure that I'm hearing them correctly.

1.  You've identified that there are two opportunities for parallelism in common ODE solvers, both within function evaluation, and across multiple function evaluations (and various other co-evaluations).  Using a system that can reason and mix between b

[2018-03-03 00:28] sixpearls commented on #68
Thanks for the response. I'll close this issue, re-post this in the dask/dask repository, and quote your post with my response.

[2018-03-03 00:28] #68 closed

[2019-02-28 20:42] pentschev opened #73 "NEP-18: CuPy backend requires unimplemented algorithms"
For the past few weeks, I've been working on issues related to [NEP-18](https://www.numpy.org/neps/nep-0018-array-function-protocol.html) support for Dask (and ultimately, Dask-GLM as well) to allow CuPy to be used as a backend. I've made some progress, which I'll soon share with more details.

Among the issues I have now is the usage of the following Dask-GLM algorithms with CuPy:

1. `newton`: r

[2019-02-28 20:46] mrocklin commented on #73
cc @cicdw

[2019-02-28 20:49] mrocklin commented on #73
My *guess* is that in both cases the resulting array (the input of `lstsq` or the gradient returned by `compute_loss_grad`) is probably very small, and so one approach would be to just always convert it into a NumPy array.  My guess is that from a performance perspective this would have very little impact and would be easy to accomplish.

The function `dask.array.utils.normalize_to_array` was inte

[2019-02-28 21:26] pentschev opened #74 "NEP-18: Performance issues using CuPy as backend"
As promised in #73, I'd like to share here some sample code I've been working on, and the results I've obtained. Please note, unfortunately this is not reproducible elsewhere _yet_, this depends on some work in progress branches I have not just in Dask-GLM, but also Dask, CuPy and NumPy, so unfortunately, it will take at least a few more weeks until this is publicly reproducible. We're actively wo

[2019-02-28 22:10] cicdw commented on #73
I'm not familiar with the CuPy / CUDA ecosystem, but in terms of implementing the two methods you mention: I'd _suspect_ that some form of `lstsq` would be doable, but `fmin_l_bfgs_b` would probably be incredibly difficult.

[2019-02-28 22:13] mrocklin commented on #73
So my proposal above isn't that we implement `lstsq` and `fmin_l_bfgs_b` in CUDA, it's that we just always coerce the necessary arrays to NumPy.  My understanding is that the inputs to `lstsq`, and the outputs of `compute_loss_grad` are on the order of the number of parameters, which is typically under 100 or so and so is probably better suited to the CPU anyway.  Is my understanding correct here

[2019-02-28 22:23] cicdw commented on #73
Ah I see that now; yea that's all correct.

[2019-03-01 15:22] pentschev commented on #73
The idea to use `normalize_to_array()` sounds good to me. I'm now wondering about the case where we need to convert these outputs back to their original type arrays. We can use `*_like()` but only for predefined fillings, do we have any ideas on doing the reverse `normalize_to_array()` operation? I thought maybe introducing a `copy_like()` function in NumPy could be useful for that, but perhaps th

[2019-03-01 16:16] mrocklin commented on #73
I think that it's probably OK if we always return numpy arrays.  These outputs are likely to be small.

[2019-03-01 16:46] pentschev commented on #73
It's not ok in here: https://github.com/dask/dask-glm/blob/master/dask_glm/algorithms.py#L347

We pass `beta0`, `X` and `y` to `scipy.optimize.fmin_l_bfgs_b`. `beta0` gets has to be copied back to CPU because it gets modified here: https://github.com/scipy/scipy/blob/master/scipy/optimize/lbfgsb.py#L326

Later on, `x` (formerly `beta0`) is passed here: https://github.com/scipy/scipy/blob/master/sc

[2019-03-01 16:49] mrocklin commented on #73
Ah, my hope was that when X, y, and beta interacted that the GPU arrays would pull the CPU array to the GPU, rather than the other way around.  One sec, I'm going to play with this briefly.

[2019-03-01 16:54] mrocklin commented on #73
So I was hoping that things like the following would work

[code]

[code]

[2019-03-01 16:57] mrocklin commented on #73
So, if we had `empty_like(..., shape=)` maybe that would allow us to do `copy_like` (without needing to actually add that to the NumPy API.  Something like

[code]

I wanted to verify that assignment worked between numpy and cupy, but found that it didn't:

[code]

[code]

This seems like the kind of things that cupy might accept as a PR.  I was surprised to learn that this didn't work.

[2019-03-01 17:23] pentschev commented on #73
I actually had the exact same idea with the `y[:] = x` assignment before, but I assumed the non-automatic conversion was intentional. I think if we can allow that to work, it would be a good solution, without even needing to touch NumPy, which seems better.

I will see if I can write a PR for that, hopefully it won't be too complicated.

[2019-03-01 17:25] mrocklin commented on #73
It may be intentional, I'm not sure.  You might raise a cupy issue to ask
about it.  I just checked their issue tracker and didn't see anything about
it yet.

On Fri, Mar 1, 2019 at 9:23 AM Peter Andreas Entschev <
notifications@github.com> wrote:

[2019-03-01 19:35] pentschev commented on #73
I found two open issues related to what we just talked here:

https://github.com/cupy/cupy/issues/593
https://github.com/cupy/cupy/issues/589

[2019-03-04 14:17] pentschev opened #76 "Merge CuPy and Dask tests"
To allow for easy testing of CuPy and Dask during this phase, a copy of the existing relevant Dask tests was created under https://github.com/dask/dask-glm/pull/75. This incurs in a lot of duplication that can later be merged into a single implementation to test both backends.

[2019-03-12 21:41] stsievert opened #77 "Estimators don't have n_iter_ parameter"
Scikit-learn estimators have a `n_iter_` parameter. Dask-GLM doesn't.

For example, the Scikit-Learn logistic regression implementation has the `n_iter_` parameter ([docs][sklearn]). However, the Dask-GLM implementation doesn't ([docs][dask]).

[sklearn]:https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html
[dask]:http://ml.dask.org/modules/generated/dask_m

[2019-03-13 16:04] pentschev opened #78 "Dask-GLM doesn't converge with Dask array"
After a bit of profiling, this is what I found out for Dask-GLM with Dask array:

[code]

A big portion of the time seems to be spent on waiting for thread lock. Also, looking at the callers, we see 100 `compute()` calls departing from `admm()`, which means it's _not_ converging and stopping only at `max_iter` as @cicdw suggested:

[code]

Running with NumPy, the algorithm converges, showing only

[2019-03-13 16:35] mrocklin commented on #78
cc @cicdw

On Wed, Mar 13, 2019 at 9:04 AM Peter Andreas Entschev <
notifications@github.com> wrote:

[2019-04-10 04:19] jrbourbeau commented on #33
Closing as `dask-glm` is available on conda-forge now (see https://github.com/conda-forge/dask-glm-feedstock)

[2019-04-10 04:19] #33 closed

[2019-10-16 19:35] hoangthienan95 opened #83 "'Array' object has no attribute '_check_array' error when fitting Linear Regression"
Code:
[code]

[code]

package versions
[code]

[2019-10-16 19:38] TomAugspurger commented on #83
You need to instantiate the LinearRegression before using it.

[code]

[2019-10-16 21:25] #83 closed

[2020-10-08 19:51] daxiongshu opened #88 "[Bug] The environment.yml doesn't not match CI"
The `environment.yml` doesn't match CI. For example, in `environment.yml` `python=3.5.2` is required but in CI, `python=3.6.7` is used.

[2020-11-02 17:25] jacobtomlinson opened #91 "Migrate CI to GitHub Actions"
Due to changes in the Travis CI billing, the Dask org is migrating CI to GitHub Actions.

This repo contains a `.travis.yml` file which needs to be replaced with an equivalent `.github/workflows/ci.yml` file.

See dask/community#107 for more details.

[2020-11-12 14:39] #91 closed

[2021-02-08 21:15] jsignell opened #94 "Move default branch from "master" -> "main""
@jrbourbeau and I are in the process of moving the default branch for this repo from master to main.

 - [x] Changed in GitHub
 - [x] ~~Merged PR to change branch name in code~~

### What you'll see
Once the name on github is changed (the first box above is Xed, or this issue closed), when you try to `git pull` you'll get

[code]

### What you need to do

First: **head to your fork and rename the

[2021-02-10 01:06] #94 closed

[2021-03-10 17:11] jsignell opened #95 "Verify that Read the Docs is building after master -> main"
Spotted on https://github.com/dask/dask-cloudprovider/issues/244#issuecomment-795310925. Read The Docs was still building `latest` from the `master` branch and builds were failing. It was configured to build from the default branch, but had cached the value `master` somewhere. Manually pointing it to  `main` in the RtD control panel fixed things.

[2021-10-12 01:08] stsievert opened #96 "Warning on config "optimization.fuse.ave-width" w/ solver="lbfgs""
**What happened**:
When I set `solver=lbfgs`, I get a warning:

**What you expected to happen**:
I did not expect this warning.

**Minimal Complete Verifiable Example**:

[code]

**Environment**:

- Dask-ML: 1.9.0
- Python version: 3.8.8
- Operating System: macOS
- Install method (conda, pip, source): ?

[2021-10-12 01:08] stsievert commented on #96
I suspect this code is relevant:

https://github.com/dask/dask-glm/blob/1daf4c5de0f44eb9405a40afb5506d4d821d407f/dask_glm/algorithms.py#L358

I'm inclined to believe this is an easy fix.

[2022-02-12 12:14] Numtra opened #97 "Upgrade Rquired in dask-glm"
Caused by: org.apache.spark.SparkException: Process List(/databricks/python/bin/pip, i**nstall, dask-glm==0.2.0, --disable-pip-version-check) exited with code 1. mlflow 1.5.0 requires alembic, which is not installed.**

While using Databricks Installation breaks.
 Dask-glm is using mlflow 1.5.0 ?
Can you upgrade?

[2022-06-11 01:16] jakirkham commented on #95
@TomAugspurger looks like you have permissions on RTD. Would you be able to take a look?

[2022-06-12 23:11] jakirkham commented on #95
Alternatively should this be archived?